:root {
  --color-primary: #136b46;
  --color-primary-dark: #0e2d1d;
  --color-accent: #cfa869;
  --color-accent-dark: #855500;
  --color-text: #199644;
  --color-white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "CORBEL";
  src: url("/fonts/CORBEL.TTF") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CORBELB";
  src: url("/fonts/CORBELB.TTF") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  opacity: 1;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23136b46' fill-opacity='0.72'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 50vh;
  font-family: "CORBEL", system-ui, -apple-system, sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

/* Navbar styles */

.header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  border-bottom: 1px solid #e2e8f0;
}

.header:hover::before {
  left: 100%;
}
.logo {
  cursor: pointer;
}

.navbar a {
  font-family: "CORBELB", system-ui, -apple-system, sans-serif;
  color: var(--color-primary);
  font-size: 1.1rem;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
}
.navbar a:hover {
  color: var(--color-accent-dark);
}

.header.scroll {
  margin: 20px;
  padding: 10px 50px;
  border-radius: 50px;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.313);
  -webkit-backdrop-filter: blur(8px);
  border-bottom: none;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(231, 229, 229, 0.539);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

/* Logo reducido */
.header.scroll .logo img {
  width: 50px;
  transition: width 0.3s ease-in-out;
}

.nav-links {
  display: none;
}

.navbar.scrolled .logo img {
  width: 100px;
}

#main-logo {
  width: 50px;
}

@media (max-width: 768px) {
  .logo {
    width: 120px; /* Tamaño para dispositivos móviles */
  }

  .scrolled .logo {
    width: 80px; /* Tamaño reducido en scroll para móviles */
  }
}

@media (min-width: 768px) {
  .nav-links {
    display: flex;
    gap: 2rem;
  }

  .nav-links a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
  }

  .nav-links a:hover {
    color: var(--color-accent);
  }
}

/* FIN DE NAV BAR */

/* HERO */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.hero {
  font-family: "CORBELB";
  text-shadow: 1px 1px 3px var(--color-primary-dark);
}

/* Typography */
.hero h1 {
  font-family: "CORBELB";
  color: var(--color-primary-dark);
  font-size: 5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-family: "CORBEL";
  color: var(--color-text);
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

p {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

hr {
  background-color: rgba(0, 0, 0, 0.786);
}

/* Buttons */
.btn {
  display: inline-flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.btn-primary:hover {
  background-color: var(--color-primary-dark);
}

.btn-secondary {
  background-color: white;
  color: #333;
  border: 2px solid var(--color-primary);
}

.btn-secondary:hover {
  color: white;
  background-color: var(--color-primary);
}

.section-description {
  padding-bottom: 2rem;
  text-align: center;
}

/* Hero Section */
.hero {
  background-color: rgba(255, 255, 255, 0.786);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.139);
  padding: 6rem 0;
  text-align: center;
}

.hero h1 span {
  color: var(--color-primary);
  display: block;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

/* CALCULADORAS */

.contenedor-calculadoras {
  font-family: "CORBELB";
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.139);
  background-color: rgba(255, 255, 255, 0.786);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "calculadoras calculadoras";
}

.contenedor-calculadoras h2 {
  color: var(--color-primary);
  text-shadow: 1px 1px 3px var(--color-primary-dark);
}

.calculadoras {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "divisas prestamos"
    "divisas prestamos"
    "divisas prestamos";
  grid-area: calculadoras;
}

.divisas {
  grid-area: divisas;
}

.prestamos {
  grid-area: prestamos;
}

/* Exchange Calculator */
.exchange {
  padding: 4rem 0;
}

.exchange-calculator {
  background-color: #136b46a0;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.exchange-calculator h2{
  color: var(--color-white);
}

.calculator-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.input-group {
  margin-bottom: 1.5rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.currency-selectors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.exchange-result,
.loan-result {
  color: var(--color-primary);
  font-family: "CORBEL";
}

.exchange-result,
.loan-result {
  background: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#result-amount,
#monthly-payment {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-text);
  margin: 1rem 0;
}

/* Loans Section */
.loans {
  padding: 4rem 0;
}

.loan-calculator {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}
/* FIN DE CALCULADORAS */

/* International Payments */
.pagos-internacionales {  display: grid;
  grid-template-columns: 1.2fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "PagosHero";
}

.PagosHero {  display: grid;
  font-family: "CORBELB";
  color: var(--color-primary);
  padding: 1rem 0;
  background-color: #0e2d1d96;
  grid-template-columns: 1fr 0.8fr 1.2fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Pagos Pagos Mundo"
    "Pagos Pagos Mundo"
    "Pagos Pagos Mundo";
  grid-area: PagosHero;
}

.Pagos { grid-area: Pagos;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Mundo { grid-area: Mundo; }

#animationWindow {
  width: 100%;
  height: 100%;
}

.Pagos h2 {
  font-size: 4rem;
  color: var(--color-white);
  font-family: "CORBELB";
}

.Pagos p {
  color: var(--color-white);
  font-family: "CORBEL";
  font-weight: 500;
  font-size: 1.5rem;
}

/* Locations Section */
.locations {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.139);
  background-color: rgba(255, 255, 255, 0.406);
  padding: 4rem 0;
  font-family: "CORBELB";
}

.locations h2 {
  font-size: 4rem;
  color: var(--color-primary);
  text-shadow: 1px 1px 3px var(--color-primary-dark);
}

.locations p {
  font-family: "CORBEL";
  font-size: 1.5rem;
  color: var(--color-text);
}

.locations-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.location-card {
  background: white;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.location-info {
  display: flex;
  align-items: start;
  margin-bottom: 1rem;
}

.location-info svg {
  margin-right: 0.75rem;
  color: #2563eb;
}

/* */
#cambio-internacional {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.139);
}

/* Responsive Design */
@media (max-width: 768px) {
  .calculator-grid {
    grid-template-columns: 1fr;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero-buttons {
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }
}

/* FOOTER */

.custom-footer {
  background-color: white;
  border-radius: 20px; /* Bordes redondeados */
  width: 50%;
  margin: 2rem auto;
  padding: 4rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.409);
  text-align: center;
}

/* Estilo para los links principales */
.footer-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem; /* Espaciado entre los enlaces */
  margin-bottom: 1.5rem;
}

.footer-links a {
  font-size: 1rem;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
}

.footer-links a:hover {
  color: var(--color-primary-dark);
  text-decoration: none;
}

/* Redes sociales */
ul {
  list-style: none;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.redes .contenido-icono {
  margin: 0 10px;
  position: relative;
}
.redes .contenido-icono .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.redes .contenido-icono:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.redes .contenido-icono a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.redes .contenido-icono a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.redes .contenido-icono a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.redes .contenido-icono a:hover {
  color: white;
}
.redes .contenido-icono a .relleno {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.redes .contenido-icono a:hover .relleno {
  height: 100%;
}

.redes .contenido-icono a[data-social="linkedin"] .relleno,
.redes .contenido-icono a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.redes .contenido-icono a[data-social="whatsapp"] .relleno,
.redes .contenido-icono a[data-social="whatsapp"] ~ .tooltip {
  background-color: #25d366;
}
.redes .contenido-icono a[data-social="instagram"] .relleno,
.redes .contenido-icono a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.redes .contenido-icono a[data-social="youtube"] .relleno,
.redes .contenido-icono a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}

/* FIN REDES SOCIALES */

.footer-info {
  font-size: 0.9rem;
  color: #555;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer-info p {
  font-size: 0.9rem;
}

.logo-section img {
  width: 30vh;
  margin-bottom: 30px;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 1.5rem 0;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.footer-bottom p {
  font-size: 0.9rem;
  color: #555;
}

.legal-links {
  display: flex;
  gap: 0.5rem; /* Separación entre los enlaces */
}

.legal-links a {
  color: #002b5c;
  text-decoration: none;
  font-size: 0.9rem;
}

.legal-links a:hover {
  text-decoration: underline;
}
